<h1>Log In, and Welcome Back!</h1>

<%= flash[:error] %>
<%= form_for (:client) do |c| %>
    <%= c.label :username %>
    <%= c.text_field :username %><br>

    <%= c.label :password %>
    <%= c.password_field :password %><br>

    <%= c.submit "Log In" %>
<% end %>
<p> If you don't have a log in, please
<%= link_to "Sign Up ", new_client_path %> here.</p>