<h1>Please Sign Up</h1>

<%= render partial: 'layouts/errors', locals: {object: @client} %>

<p><%= flash[:error] %></p>
<%= form_for (@client) do |c| %>
    <%= c.label :username %>
    <%= c.text_field :username %><br>
    
    <%= c.label :first_name %>
    <%= c.text_field :first_name %><br>

    <%= c.label :last_name %>
    <%= c.text_field :last_name %><br>

    <%= c.label :email %>
    <%= c.email_field :email %><br>

    <%= c.label :password %>
    <%= c.password_field :password %><br>

    <%= c.label "Retype Password" %>
    <%= c.password_field :password_confirmation %><br>

    <%= c.submit "Sign Up" %>

<% end %>

<p> If you happen to remember that you have a log in, please click
<%= link_to "here", login_path %><br></p>
<p>Return to <%= link_to "Homepage", '/' %></p>