<h1><%= flash[:message] %></h1>
<% if params[:client_id] %>
<h1>All of <%= @client.first_name %>'s Reservations</h1>
<% else %>
<h1> Current List of Reservations </h1>
<% end %>

<% @reservations.each do |r| %>
    <ul>
    <li><h2><%= r.start_time.strftime("%m/%-d/%Y %l:%M %p") %> - <%= r.end_time.strftime("%m/%-d/%Y %l:%M %p") %></h2>
    <h3><%= r.event.title %></h3>
    <%= link_to "Reservation Details", reservation_path(r) %>
    <%= link_to "Add A Vendor", new_event_vendor_path(r.event_id) %></li>
    </ul>
<% end %>