<h1> Current List of Reservations </h1>

<% @reservations.each do |r| %>
    <ul>
    <li><h2><%= r.start_time.strftime("%m/%-d/%Y %l:%M %p") %> - <%= r.end_time.strftime("%m/%-d/%Y %l:%M %p") %></h2>
    <h3><%= r.event.title %></h3>
    <%= link_to "Reservation Details", reservation_path(r) %>
    <%= link_to "Add A Vendor", new_event_vendor_path(r.event_id) %></li>
    </ul>
<% end %>

<h3><%= link_to "Make a Reservation", new_reservation_path %></h3>
<h3><%= link_to "All Vendors", vendors_path %></h3>