<h2><%= flash[:message] %></h2>
<h2><%= flash[:notice] %></h2>

<% if params[:client_id] %>
<h2>All of <%= @client.username %>'s Reservations</h2>
<% else %>
<h2> Current List of Reservations </h2>
<% end %>

<% @reservations.each do |r| %>
    <ul>
    <li><h4><%= r.start_time.strftime("%m/%-d/%Y %l:%M %p") %> - <%= r.end_time.strftime("%m/%-d/%Y %l:%M %p") %></h4>
    <p><%= r.event.title %> -  Reserved by: <%= r.client.username %>
    <%= link_to "Reservation Details", reservation_path(r) %></p></li>
    </ul>
<% end %>