<h1> Let's Make a new Reservation Shall We!! </h1>

<h2> Set the Time </h2>

<%= form_for @reservation do |r| %>
    
    <%= r.label :start_time %>
    <%= r.datetime_field :start_time %><br>
    
    <%= r.label :end_time %>
    <%= r.datetime_field :end_time %><br>

    <h2> Add Event Details </h2>
    <p> Select an Event from the following: <%= r.collection_select :event_id, Event.all, :id, :title, include_blank: true %></p>
    <h3> Or Make A New Event:</h3>
    <%= r.fields_for :event do |e| %>
        <%= e.label :title, "Event Title" %>
        <%= e.text_field :title %><br>

        <%= e.label :description, "Event Details" %>
        <%= e.text_field :description %><br>
        <% end %>
    
    <%= r.submit "Make A Reservation" %>

<% end %>