<h1>Event: <%= @reservation.event.title %></h1>

<h2> Reservation Details</h2>

<h3>Time Frame Reserved: <%= @reservation.start_time.strftime("%A, %B %-d, %Y at %l:%M %p") %> through <%= @reservation.end_time.strftime("%A, %B %-d, %Y at %l:%M %p") %></h3>
<p> <%= @reservation.event.description %></p>


<%= link_to "See All Vendors For #{@reservation.event.title}", event_vendors_path(@reservation.event_id) %>

<%= link_to "Add A Vendor", new_event_vendor_path(@reservation.event_id) %><br>

<%= form_tag reservation_path(@reservation.id), method: "delete" do %>
    <%= submit_tag "Delete" %>
    <% end %>

