<h1>Create a vendor for <%= @vendor.event.title %></h1>

<%= render partial: 'layouts/errors', locals: {object: @vendor} %>

<%= form_for (@vendor) do |v| %>
    <%= v.hidden_field :event_id %>
    
    <h3><%= v.label :name, "Name of Vendor:" %>
    <%= v.text_field :name %></h3>

    <h3><%= v.label :vendor_type, "Type of Vendor:"%>
    <%= v.text_field :vendor_type %></h3>

    <h3><%= v.label :description, "About the Vendor:" %>
    <%= v.text_area :description %></h3>


    <%= v.submit %>
<% end %>