<h2> Vendor: <%= @vendor.name %></h2>
<h3> Event: <%=link_to @vendor.event.title, reservation_path(@vendor.event_id) %></h2>
<h3> Vendor Type: <%= @vendor.vendor_type %></h3>
<h3> Description: <%= @vendor.description %></h3>

<%= link_to "All Vendors", vendors_path %>
<%= link_to "All Reservations", reservations_path %>

<%= link_to "Delete", vendor_path(@vendor), method: :delete, data: 
{ confirm: "Are you sure you want to delete this vendor?" } %>