<!DOCTYPE html>
<html>
  <head>
    <title>HugeHouseRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <br>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if current_user %>
    
    <div class="topnav">
    <%= link_to "Create an Event", new_event_path %>
    <%= link_to "Make a Reservation", new_reservation_path %>
    <%= link_to "All Reservations", reservations_path %>
    <%= link_to "Your Reservations", client_reservations_path(current_user) %>
    <%= link_to "All Vendors", vendors_path %>
    <%= link_to "Logout", logout_path, method: :delete %>
  </div>
  <% else %>
  <% end %>
    </head>

  <body>

 <%= yield %>
</body>

  <footer>
<% if current_user %>
  <p> Currently signed in: <%= current_user.username %></p>
<% end %>
  </footer>
</html>