<!DOCTYPE html>
<html>
  <head>
    <title>HugeHouseRails</title>
    # <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <%= yield %>
</body>

  <footer>
  <h2><%= link_to "See All Reservations", reservations_path %></h2>
  <div>
  <% if current_user %>
  <h3><%= link_to "Make a Reservation", new_reservation_path %></h3>
  <h2><%= link_to "See Your Reservations", client_reservations_path(@client.id) %></h2>
  <h3><%= link_to "All Vendors", vendors_path %></h3>
  <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
    <% end %>

  </div>
  </footer>
</html>